body {
    background: url(assets/old-paper-background.jpg);
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify
}

/* requirement: Theme header tags with CSS */
h1, h2, h3, h4, h5 {
    text-align: center;
    font-style: normal;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 3.0;
    margin-top: 1.5em;
    margin-bottom: 1.5em
}

/* requirement: Theme images and images captions with CSS */
img {
    width: 50%;
    text-align: center;
    display: block;
    margin: 0 auto
}

/* requirement: Theme images and images captions with CSS */
figcaption {
    padding: 1.0em;
    font-style: normal;
    color: bisque
}

/* requirement: Theme paragraphs with CSS */
p {
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-family: sans-serif;
    font-size: 20px
}

h1 {
    font-size: 300%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
    text-indent: 0
}

h2 {
    font-size: 200%;
    margin-top: 2em;
    margin-bottom: 1em
}

h3 {
    font-size: 180%;
    margin-top: 2em
}

h4 {
    font-size: 140%
}

h5 {
    font-size: 120%
}

table.c9 {
    margin-left: auto;
    margin-right: auto
}

div.c6 {
    margin-top: 2em;
    margin-bottom: 4em
}

div.c5 {
    display: block;
    margin-left: 2em;
    text-indent: -2em
}

div.c4 {
    display: block;
    margin: 1em 0
}

div.c3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-indent: -2em
}

div.c2 {
    display: block;
    margin: 1em 0
}
div.c1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold
}